<div id="header">
            
    <div id="topHeader">
        <div id="title">TurboPutative</div>
    </div>

    <div id="navBar">

        <div class="navItem" id="Home">
            <a href="/">Home</a>
        </div>

        <div class="navItem dropDown" id="Help">
            <a>Help</a>
            <div class="dropDownContent">
                    <a href="/modules">Modules</a>
                    <a href="/settings">Settings</a>
            </div>
        </div>

        <div class="navItem" id="Execute">
            <a href="/execute">Execute</a>
        </div>

        <div class="navItem" id="GitHub">
            <a href="https://github.com/CNIC-Proteomics/TurboPutative" target="_blank">GitHub</a>
        </div>

        <div class="navItem" id="ContactUs">
            <a href="/contactUs">Contact Us</a>
        </div>

    </div>

</div>