# python environment #
######################
desktopApp/env/*

# electron #
######################
desktopApp/electron-*/*

# desktop application node_modules #
####################################
desktopApp/node_modules/*

# desktopApp jobs #
###################
desktopApp/app/jobs/*/*
#!desktopApp/app/jobs/README.md


# web application node_modules #
################################
webApp/node_modules/*


# webApp jobs #
###############
webApp/src/public/results/*/*

# releases #
############
releases/*

# hmdb database #
#################
tools/Tagger/dbs/hmdb_metabolites.zip

# goslin __pycache__ #
######################
desktopApp/app/src/pyModules/pygoslin/tests/__pycache__/*
desktopApp/app/src/pyModules/pygoslin/parser/__pycache__/*
desktopApp/app/src/pyModules/pygoslin/__pycache__/*
desktopApp/app/src/pyModules/pygoslin/domain/__pycache__/*

# goslin library #
##################
desktopApp/app/src/pyModules/pygoslin/*
desktopApp/app/src/pyModules/pygoslin_library/*
webApp/src/TurboPutative/pyModules/pygoslinn/*
webApp/src/TurboPutative/pyModules/pygoslinn_library/*
webApp/src/TurboPutative/pyModules/pygoslinn_library.zip

# Jupyter Notebook scripts #
############################
/tools/Tagger/dbs/scripts/DataBaseGenerator.ipynb
/tools/Tagger/dbs/scripts/getAllSynonyms.ipynb

# other files #
###############
/webApp_old.zip
/desktopApp/env_fake/*