#footer {
    position: absolute;
    bottom: 0px;
    left: 15%;
    padding: 0;
    width: 70%;
    text-align: center;
    color: lightgray;
    font-family: Arial;
    font-size: 0.8em;
}

#footer a {
    text-decoration: none;
    color: lightgray;
}

#footer p {
    padding: 0;
}