<div id="REnameParamContent" style="display: none">

    <div class="subTitle" style="padding-bottom: 10px;">REname Parameters</div>

    <div class="paramContent">
        <div class="paramContainer" style="width: 825px;">
            <label class="tooltip" for="removeRowRegex">Regular Expression to remove row <span class="icon">&#9432</span>
                <span class="tooltipText">Regular expression that matches the name of rows to be removed</span>
            </label>
            <input type="text" id="removeRowRegex">
            <script>document.querySelector("#removeRowRegex").value = "(?i)No compounds found for experimental mass";</script>
        </div>
    </div>


    <div class="moreCont">
        <button type="button" id="more" onclick="clickAdvance('#REnameParamContent .hidden')">Advanced</button>
    </div>
    

    <div class="paramContent hidden" style="display: none;">

        <div class="paramContainer">
            <label class="tooltip" for="separator">Compound separator <span class="icon">&#9432</span>
                <span class="tooltipText">Regular expression that matches the character used to separate compound names in the same row</span>
            </label>
            <input type="text" id="separator" value="\s/\s">
        </div>

        <div class="paramContainer">
            <label class="tooltip" for="aaSeparator">Amino acid separator <span class="icon">&#9432</span>
                <span class="tooltipText">Regular expression that matches the character used to separate aminoacid in peptides</span>
            </label>
            <input type="text" id="aaSeparator" value="\s">
        </div>

        <div class="paramContainer">
            <label for="outputNameREname">Output Name</label>
            <input type="text" id="outputNameREname" placeholder="Optional">
        </div>

        <div class="paramContainer">
            <label for="outputColumnsREname">Output Columns</label>
            <input type="text" id="outputColumnsREname" placeholder="Optional">
        </div>

        <div class="paramContainer" style="width:900px;">
            <label for="regexFile">Regular Expressions file (optional)</label>
            <a class="downloadLink" href="/assets/files/regex.ini" download="regex.ini">Download Example File</a>
            <input type="file" id="regexFile" name="regexFile" form="workflowForm"
             style="border: none; color:rgba(0,0,0,0.8); width: 400px; padding: 0">
        </div>
        <div class="errorMsg" id="regexErrorMsg"></div>

    </div>

    <!-- INSERT PARTIAL: execute/_buttons.html -->

</div>