<div id="TaggerParamContent"  style="display: none">

    <div class="subTitle" style="padding-bottom: 10px;">Tagger Parameters</div>

    <div class="subSubTitle">Tag Selection: Select the tags you want to include</div>

    <div id="tagSelectionContent">
        <label class="cbContainer">Select all
            <input class="cbTag" type="checkbox" id="allTags" value="true">
            <span class="checkmark"></span>                
        </label>

        <label class="cbContainer">Food
            <input class="cbTag" type="checkbox" id="food" value="true">
            <span class="checkmark"></span>                
        </label>

        <label class="cbContainer">Drug
            <input class="cbTag" type="checkbox" id="drug" value="true">
            <span class="checkmark"></span>                
        </label>

        <label class="cbContainer">Microbial
            <input class="cbTag" type="checkbox" id="microbial" value="true">
            <span class="checkmark"></span>                
        </label>

        <label class="cbContainer">Halogenated
            <input class="cbTag" type="checkbox" id="halogenated" value="true">
            <span class="checkmark"></span>                
        </label>

        <label class="cbContainer">Peptide
            <input class="cbTag" type="checkbox" id="peptide" value="true">
            <span class="checkmark"></span>                
        </label>
    </div>

    <!--
    <div class="moreCont">
        <button type="button" id="more" onclick="clickAdvance('#TaggerParamContent .hidden')">Advanced</button>
    </div>
    -->

    <div class="paramContent hidden" style="display: block;">

        <div class="subSubTitle" style="padding: 20px 0 0 0;">Parameters</div>

        <div class="paramContainer" style="width:700px;">
            <label class="tooltip" for="halogenatedRegex">HalogenatedRegex <span class="icon">&#9432</span>
                <span class="tooltipText" id="halogenatedRegexTTT" style="top:-90%;">Regular expression that matches the name of halogenated compounds</span>
                <script>document.querySelector('#halogenatedRegexTTT').innerHTML += `. Default: ${defaultValues.Tagger.halogenatedRegex}`</script>
            </label>
            <input type="text" id="halogenatedRegex" placeholder="Optional">
            <!-- <script>document.querySelector("#halogenatedRegex").value = "([Ff]luor(?!ene)|[Cc]hlor(?!ophyl)|[Bb]rom|[Ii]od)";</script> -->
        </div>

        <div class="paramContainer" style="width:700px;">
            <label class="tooltip" for="peptideRegex">PeptideRegex <span class="icon">&#9432</span>
                <span class="tooltipText" id="peptideRegexTTT" style="top:-60%;">Regular expression that matches the name of peptides</span>
                <script>document.querySelector('#peptideRegexTTT').innerHTML += `. Default: ${defaultValues.Tagger.peptideRegex}`</script>
            </label>
            <input type="text" id="peptideRegex" placeholder="Optional">
            <!-- <script>document.querySelector("#peptideRegex").value = "(?i)^(Ala|Arg|Asn|Asp|Cys|Gln|Glu|Gly|His|Ile|Leu|Lys|Met|Phe|Pro|Ser|Thr|Trp|Tyr|Val|[-\\s,]){3,}$";</script> -->
        </div>

        <div class="paramContainer" style="width:700px;">
            <label class="tooltip" for="outputNameTagger">Output Name <span class="icon">&#9432</span>
                <span class="tooltipText" id="TaggerONTTT" style="top:-10%;">Default: </span>
            </label>
            <input type="text" id="outputNameTagger" placeholder="Optional">
            
        </div>

        <div class="paramContainer" style="width:700px;">
            <label class="tooltip" for="outputColumnsTagger" placeholder="Optional">Output Columns <span class="icon">&#9432</span>
                <span class="tooltipText" style="top:-10%;">Default: All columns will be saved</span>
            </label>
            <input type="text" id="outputColumnsTagger" placeholder="Optional">
        </div>

    </div>

    <!-- INSERT PARTIAL: execute/0_buttons.html -->

</div>