<div class="text" id="REnameText">

    <div class="subTitle">REname</div>
    
    <div class="subSubTitle">Settings</div>
    
    <ul class="list">
        <li><b>Separator</b>: Regular expression that matches the character string used to separate compound names in the same row.</li>
        <li><b>AminoAcidSeparator</b>: The table with the putative identifications may contain peptides. TurboPutative is capable of 
            processing them (amino acids must be expressed in the three-letter nomeclature, e.g. Arg, Pro, Ala...). 
            In the AminoAcidSeparator parameter, it must be specified a regular expression that
            mathces the character that separates two amino acids. For example, in the peptide "Arg Pro Ala", amino acids are 
            separated by a whitespace character ('\s').</li>
        <li><b>RemoveRow</b>: Regular expression that matches the name of the rows to be removed from the table.</li>
        <li><b>OutputName</b>: Name of the output file. By default, the name of the output file will be that of the 
            input file with prefix "REnamed_"</li>
        
        <li><b>OutputColumns</b>: Name of the columns present in the output table. By default, they will all appear.</li>
    </ul>

</div>