<div class="text" id="RowMergerText">

    <div class="subTitle">RowMerger</div>

    <div class="subSubTitle">Settings</div>

    <ul class="list">
        <li><b>ComparedColumns</b>: Name of the columns whose values will be compared when merging two rows. That is, two rows will 
            be merged if they have the same values in these columns.</li>
        <li><b>ConservedColumns</b>: Name of the columns whose values will be preserved in the row resulting from the merge. 
            The values of the merged rows will appear separated by " // ".</li>
        <li><b>OutputName</b>: Name of the output file. By default, the name of the output file will be that of the 
            input file with prefix "RowMerged_"</li>
        
        <li><b>OutputColumns</b>: Name of the columns present in the output table. By default, they will all appear.</li>
    </ul>
    
</div>