<div class="text" id="TableMergerText">

    <div class="subTitle">TableMerger</div>

    <div class="subSubTitle">Settings</div>
    
    <ul class="list">
        <li><b>N_Digits</b>: Number of decimal places to which the experimental mass of the features will be rounded to make the "merge".</li>
        <li><b>OutputName</b>: Name of the output file. By default, the name of the output file will be that of the 
            input file with prefix "TableMerged_"</li>
        
        <li><b>OutputColumns</b>: Name of the columns present in the output table. By default, they will all appear.</li>
    </ul>
    
</div>