<div class="text" id="TaggerText">

    <div class="subTitle">Tagger</div>

    <div class="subSubTitle">Labels</div>

    <ul class="list">
        <li><b>Food</b>: Mark if you want to tag the compounds that appear in <a href="https://github.com/CNIC-Proteomics/TurboPutative/raw/master/webApp/src/TurboPutative/Data/food_database.tsv" download>food_database.tsv</a>.</li>
        
        <li><b>Drug</b>: Mark if you want to tag the compounds that appear in <a href="https://github.com/CNIC-Proteomics/TurboPutative/raw/master/webApp/src/TurboPutative/Data/drug_database.tsv" download>drug_database.tsv</a>.</li>

        <li><b>Microbial</b>: Mark if you want to tag the compounds that appear in <a href="https://github.com/CNIC-Proteomics/TurboPutative/raw/master/webApp/src/TurboPutative/Data/microbial_database.tsv" download>microbial_database.tsv</a>.</li>

        <li><b>Halogenated</b>: Mark if you want to tag the compounds that match with the regular expression specified in 
            <b>HalogenatedRegex</b> parameter.</li>
            
        <li><b>Peptide</b>: Mark if you want to tag the compounds that match with the regular expression specified in 
            <b>PeptideRegex</b> parameter.</li>  
    </ul>

    <div class="subSubTitle">Settings</div>

    <ul class="list">
        <li><b>OutputName</b>: Name of the output file. By default, the name of the output file will be that of the 
            input file with "Tagged_"</li>
        <li><b>OutputColumns</b>: Name of the columns present in the output table. By default, they will all appear.</li>
    </ul>

</div>