<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
    <link rel="stylesheet" href="/assets/css/ubiquitous/body.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/header.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/navBar.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/footer.css">
    <link rel="stylesheet" href="/assets/css/contactUs/contactUs.css">
</head>
<body>

    <div id="content">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div id="mainContent">

            <div id="descriptionContent">

                <div id="subTitle">Contact Us</div>

                <div id="msg">Please, do not hesitate to contact us at <a href="mailto:rafael.barrero@cnic.es">rafael.barrero@cnic.es</a> 
                    and ask any doubt or how to contribute to processing of putative annotations for metabolomic analysis</div>
            
            </div>

            <div id="imgContent">
                <img src="/images/contact.png" width=200 alt="contact">
            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>
<script>
    document.querySelector("#ContactUs").style.backgroundColor = '#333333';
</script>
</html>