<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="/assets/css/ubiquitous/body.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/header.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/navBar.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/footer.css">
    <link rel="stylesheet" href="/assets/css/execute/error.css">
</head>
<body>

    <div id="content">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div id="mainContent">

            <div id="img2">
                <img src="/images/error2.png" width="180" alt="Error">
            </div>

            <div id="descriptionContent">

                <div id="errorTitle">Error <!-- INSERT VALUE: code --> in <!-- INSERT VALUE: errorLocation -->:</div>

                <div id="errorDescription"><!-- INSERT VALUE: errorDescription --></div>
            
            </div>

            <div id="img1">
                    <img src="/images/error.png" width="200" alt="Error">
            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>
</html>