<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TurboPutative</title>
    <link href="/images/icon.ico" rel="icon">
    <link href="/assets/css/ubiquitous/body.css" rel="stylesheet">
    <link href="/assets/css/main/main.css" rel="stylesheet">
    <link href="/assets/css/ubiquitous/header.css" rel="stylesheet">
    <link href="/assets/css/ubiquitous/navBar.css" rel="stylesheet">
    <link href="/assets/css/ubiquitous/footer.css" rel="stylesheet">
</head>
<body>

    <div id="content">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div id="mainContent">
            <div id="description">
                <div id="descTitle" class="subtitle">
                    What is TurboPutative?
                </div>
                <div id="descContent">
                        TurboPutative is an application that facilitates the biological interpretation of the results 
                        obtained in <b>metabolomics</b> experiments. It is made up of a set of tools that allow the <b>handling</b>, 
                        <b>simplification</b> and <b>debugging</b> of the tables with the <b>putative annotations</b> in order to facilitate 
                        their visualization and the extraction of useful information by the researcher.
                </div>
            </div>

            <div id="img">
                <div style="display:inline-block; vertical-align: middle; line-height: 1.5;">
                <img src="/images/icon.ico" alt="Metabolomics" width="180" height="auto">
                </div>
            </div>

            <div id="try">
                <div id="tryTitle" class="subtitle">
                    Design Customized Workflow
                </div>
                <div id="tryButton">
                    <a href="/execute">Try it!</a>
                </div>
            </div>
        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>
    


</body>

<script>
document.querySelector("#Home").style.backgroundColor = '#333333';
</script>

</html>