<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>
    <link rel="stylesheet" href="/assets/css/ubiquitous/body.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/header.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/navBar.css">
    <link rel="stylesheet" href="/assets/css/ubiquitous/footer.css">
    <link rel="stylesheet" href="/assets/css/help/help.css">
    <link rel="stylesheet" href="/assets/css/help/settings.css">
    
</head>
<body>

    <div id="content">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div id="mainContent">

            <!-- INSERT PARTIAL: settings/buttons.html -->

            <div id="textContent">

                <!-- INSERT PARTIAL: settings/tagger.html -->

                <!-- INSERT PARTIAL: settings/REname.html -->

                <!-- INSERT PARTIAL: settings/rowMerger.html -->

                <!-- INSERT PARTIAL: settings/tableMerger.html -->

            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<script src="/assets/js/helpSelector.js"></script>
<script>
    document.querySelector("#Help").style.backgroundColor = '#333333';
</script>

</html>